* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font {
  font-family: "Almarai", sans-serif;
  font-family: "Cairo", sans-serif;
}
.color-body {
  background-color: white;
  min-height: 100vh;
}
body,
html,
#root {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#root > .App {
  flex: 1 0 auto; /* flex-grow, flex-shrink, flex-basis */
}

.font.color-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-container {
  min-height: calc(
    100vh - 90px - 100px
  ); /* 90px navbar + ~100px footer height */
}
/*start navbar*/
.nav-style {
  height: 90px;
  width: 100%;
  background-color: #b45b35;
}

.logo {
  height: 72px;
  width: 78px;
  object-fit: contain;
}

.search {
  position: relative;
}

.search input {
  height: 40px;
  /* text-indent: 30px; */
  padding-left: 35px;
  border-radius: 20px;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid red;
}
.search-icon {
  position: absolute;
  /* top: 10px;
  left: 16px; */
  color: #777;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
/*end navbar*/
/*start card*/
.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1.5;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card__overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6);
}

.card:hover .card__overlay {
  opacity: 1;
}

.overlay__text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  line-height: 1.6;
}
/*end card*/
/* start Pagination */
.pagination-wrapper {
  margin-top: 25px;
}

/* Info text */
.page-info {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* page items */
.pagination .page-item .page-link {
  color: #b45b35;
  font-weight: bold;
  border-radius: 10px;
  margin: 0 4px;
  border: 1px solid #d8b39f;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

/* hover */
.pagination .page-item .page-link:hover {
  background-color: #b45b35;
  color: white;
  transform: translateY(-2px);
}

/* active */
.pagination .active .page-link {
  background-color: #b45b35 !important;
  border-color: #b45b35 !important;
  color: white !important;
  transform: scale(1.07);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.color {
  color: #b45b35;
  background-color: #b45b35;
}
/* end Pagination */
/***sart card details */
.card-detalis {
  height: 370px;
  border-radius: 20px;
  background-color: #f8f8f8;
}

.img-movie {
  height: 360px;
  width: 100%;
  max-width: 260px;
  padding: 10px;
  border-radius: 20px;
  object-fit: cover;
}

.card-text-details {
  color: #555555;
  font-family: Almarai;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}
.card-story {
  height: 300px;
  border-radius: 20px;
  background-color: #f8f8f8;
}
.card-text-story {
  color: #555555;
  font-family: Almarai;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 32px;
}
.card-text-title {
  color: #555555;
  font-family: Almarai;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 49px;
}
/**end card details */
/**start Footer*  */
.footer {
  background-color: #b45b35;
  width: 100%;
  margin-top: auto;
  flex-shrink: 0;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
}

.footer-links {
  list-style: none !important;
  padding: 0;
  margin: 15px 0;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none !important;
  font-size: 16px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #ffd7b3;
}

.footer-icons {
  display: flex;
  gap: 18px;
  justify-content: center;
  margin-top: 10px;
}

.footer-icons a {
  color: #fff;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #ffd7b3;
  transform: translateY(-3px);
}

.footer-copy {
  font-size: 14px;
  color: #fff;
  opacity: 0.9;
}
/**end Footer*  */
